html,
body {
	margin: 0;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	image-rendering: optimizeSpeed; /* revisit; no browser is using this */
	image-rendering: pixelated; /* firefox doesn't use this, but pixelates anyhow */
	text-align: center;
}

button,
.window,
.title-bar {
	font-size: 12rem;
}

div.window {
	display: inline-block;
	text-align: left;
	margin: 3em;
}

div.window-body {
	display: flex;
	gap: 12rem;
}

header {
	display: flex;
	flex-direction: column;
	gap: 12rem;
	padding-bottom: 1em;
}

#license-box {
	min-height: 5em;
}

div#author-info {
	text-align: left;
	display: flex;
	gap: 12rem;
}

h1#title {
	margin-top: 0;
	font-size: 2em;
	font-weight: normal;
}

article#content {
	margin-top: 1em;
	max-width: 50em;
	line-height: 1.25em;
	text-align: justify;
	word-spacing: 0.1em;
}

section {
	padding-top: 1em;
}

footer {
	justify-content: flex-end;
}

div#get-egg {
	text-align: center;
}

a#link-to-egg img {
	box-shadow: blueviolet 0 0 20rem 3rem;
	width: calc(176rem);
	margin-top: 3em;
}

a#link-to-egg:hover img {
	box-shadow: fuchsia 0 0 24rem 5rem;
}

img#about-banner {
	position: sticky;
	top: 8rem;
	width: calc(65rem * 2);
	height: calc(216rem * 2);
}

div#self-portrait,
div#self-portrait img {
	width: calc(21rem * 2);
	height: calc(25rem * 2);
}

.square-diagram {
	--square-size: 8em;
	width: var(--square-size);
	aspect-ratio: 1 / 1;
}

#palette {
	float: right;
	margin: 0 0 10rem 10rem;
}

#heightmap {
	display: inline-block;
	background-image: radial-gradient(transparent 50%, #120028), url("ui/heightmap_colorized.png");
	background-size: var(--square-size);
	float: left;
	margin: 0 10rem 10rem 0;
}

picture {
	display: block;
	text-align: center;
}

table#command-bar-legend {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table#command-bar-legend span.key {
	font-weight: bold;
	padding: 12rem;
}

.elevation-hint { --hint-color: #640032; }
.brightness-hint { --hint-color: #903c24; }
.region-hint { --hint-color: #a95b1a; }
.clut-hint { --hint-color: #831fc4; }
.torus-hint { --hint-color: #c47e0e; }

.hinted-text { color: var(--hint-color); font-weight:bold; }
.hinted-image { box-sizing: border-box; border: solid 0.25em var(--hint-color); }

legend-icon {
	display: block;
	width: 46rem;
	height: 44rem;

	--button-state: 1;

	background-size: calc(100% * 225 / 23) calc(100% * 144 / 22);
	background-image: url("ui/icon_spritesheet_with_margin.png");
	background-position: calc(2rem * (-25 * var(--icon) - 1))
	calc(2rem * (-24 * var(--button-state) - 1));
}

p#jump-to-top {
	text-align: center;
	padding-top: 2em;
}

body.standalone {
	background: url("textures/horizon.bmp") fixed black;
	background-repeat: repeat-x;
	background-position: 0 30%;
	background-size: 1em 5em;
}

div#get-egg:not(.standalone),
p#jump-to-top:not(.standalone),
button.ok.standalone {
	display: none;
}

@media (max-width: 400px) {
	:root {
		font-size: 0.3vw;
	}

	div.window {
		margin: unset;
	}

	article#content {
		max-width: 50em;
		text-align: left;
		line-height: 1.5em;
	}

	img#about-banner {
		display: none;
	}

	.square-diagram {
		--square-size: 20em;
	}

	#palette, #heightmap {
		float: unset;
		margin: 10rem;
	}

	table#command-bar-legend td {
		padding: 1em 0;
	}

	.hinted-image { border-width: 0.5em; }
}

@keyframes animated-portrait {
	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		content: url("ui/self_portrait.bmp");
	}
	2%,
	14%,
	26%,
	34%,
	42%,
	54%,
	66%,
	78%,
	86%,
	94% {
		content: url("ui/self_portrait_grin.bmp");
	}
}

div#self-portrait {
	content: url("ui/self_portrait.bmp");
}

div#self-portrait:hover {
	animation: animated-portrait 1.75s linear infinite alternate;
}

@keyframes animated-heightmap {
	0%, 100% {
		background-position: center, calc(0.5 * var(--square-size)) calc(0.0 * var(--square-size));
	}
	12.5% {
		background-position: center, calc(1.0 * var(--square-size)) calc(0.0 * var(--square-size));
	}
	25% {
		background-position: center, calc(1.5 * var(--square-size)) calc(0.5 * var(--square-size));
	}
	37.5% {
		background-position: center, calc(1.5 * var(--square-size)) calc(1.0 * var(--square-size));
	}
	50% {
		background-position: center, calc(1.0 * var(--square-size)) calc(1.5 * var(--square-size));
	}
	62.5% {
		background-position: center, calc(0.5 * var(--square-size)) calc(1.5 * var(--square-size));
	}
	75% {
		background-position: center, calc(0.0 * var(--square-size)) calc(1.0 * var(--square-size));
	}
	87.5% {
		background-position: center, calc(0.0 * var(--square-size)) calc(0.5 * var(--square-size));
	}
}

#heightmap {
	animation: animated-heightmap 10s ease-in-out infinite;
}
