html,
body {
	margin: 0;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	image-rendering: optimizeSpeed; /* revisit; no browser is using this */
	image-rendering: pixelated; /* firefox doesn't use this, but pixelates anyhow */
	text-align: center;
}

div.window {
	display: inline-block;
	text-align: left;
	font-size: max(12rem, 0.875vw);
	margin: 3em;
}

div.window-body {
	display: flex;
	gap: 12rem;
}

div#author_info {
	text-align: left;
	display: flex;
	gap: 12rem;
}

#title {
	margin-top: 0;
	font-size: 2em;
}

div#content {
	max-width: 50em;
	text-align: justify;
}

img#get_egg {
	box-shadow: blueviolet 0 0 20rem 3rem;
	width: calc(176rem);
}

a {
	white-space: nowrap;
}

a#link_to_egg {
	text-align: center;
	margin-top: 40rem;
}

a#link_to_egg:hover img#get_egg {
	box-shadow: fuchsia 0 0 24rem 5rem;
}

img#about_banner {
	align-self: flex-start;
	position: sticky;
	top: 8rem;
	width: calc(65rem * 2);
}

div#self_portrait,
div#self_portrait img {
	width: calc(21rem * 3);
	height: calc(25rem * 3);
}

img#palette {
	width: 8em;
	float: right;
	padding: 0 0 10rem 10rem;
}

img#heightmap {
	width: 8em;
	float: left;
	padding: 0 10rem 10rem 0;
}

table#command_bar_legend {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table#command_bar_legend span.key {
	font-weight: bold;
	padding: 12rem;
}

div.legend_icon {
	display: block;
	width: 46rem;
	height: 44rem;

	--button-state: 1;

	background-size: calc(100% * 225 / 23) calc(100% * 144 / 22);
	background-image: url("ui/icon_spritesheet_with_margin.png");
	background-position: calc(2rem * (-25 * var(--icon) - 1))
	calc(2rem * (-24 * var(--button-state) - 1));
}

p#jump_to_top {
	text-align: center;
	padding-top: 2em;
}

body.standalone {
	background: url("textures/horizon.bmp") fixed black;
	background-repeat: repeat-x;
	background-position: 0 30%;
	background-size: 1em 5em;
}

a#link_to_egg:not(.standalone),
p#jump_to_top:not(.standalone),
button.ok.standalone {
	display: none;
}

@keyframes animatedPortrait {
	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		content: url("ui/self_portrait.bmp");
	}
	2%,
	14%,
	26%,
	34%,
	42%,
	54%,
	66%,
	78%,
	86%,
	94% {
		content: url("ui/self_portrait_grin.bmp");
	}
}

div#self_portrait {
	content: url("ui/self_portrait.bmp");
}

div#self_portrait:hover {
	animation: animatedPortrait 1.75s linear infinite alternate;
}
