html, body {
	margin: 0;
	overscroll-behavior: none;
	cursor: crosshair;
}

body {
	background: black;
	font-family: Tahoma, sans-serif;
	color: white;
	overflow: hidden;
}

canvas#renderer {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
