html,
body {
	margin: 0;
	overscroll-behavior: none;
	font-family: Tahoma, sans-serif;
	cursor: crosshair;
}

body {
	background: black;
	color: white;
	overflow: hidden;
}

canvas {
	width: 100vw;
	height: 100vh;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

toolbar {
	position: absolute;
	top: 1vw;
	left: 1vw;
	image-rendering: optimizeSpeed; /* revisit; no browser is using this */
	image-rendering: pixelated; /* firefox doesn't use this, but pixelates anyhow */
	font-size: 0.2vw;

	display: flex;

	margin: 3em 2em 3em 11em;
	border-image-outset: 3em 2em 3em 11em;
	border-image-repeat: stretch;
	--svg-width: 26;
	--svg-height: 26;
	border-image-slice: calc(100% * 3 / var(--svg-height))
		calc(100% * 2 / var(--svg-width)) calc(100% * 3 / var(--svg-height))
		calc(100% * 11 / var(--svg-width)) fill;
	border-image-source: url("ui/toolbar_background.svg");
	border-image-width: 3em 2em 3em 11em;

	cursor: pointer;
}

toolbar divider {
	background-image: url("ui/toolbar_divider.png");
	background-size: cover;
	width: 6em;
	height: 22em;
}

button.mso,
input[type="checkbox"].mso {
	-webkit-appearance: unset;
	font-size: unset;
	border: none;
	padding: 0;
	margin: 0;

	display: block;
	width: 23em;
	height: 22em;

	background-size: calc(100% * 207 / 23) calc(100% * 132 / 22);
	background-image: url("ui/icon_spritesheet.png");
	background-position: calc(-23em * var(--sprite-x))
		calc(-22em * var(--sprite-y));
}

input[type="checkbox"].mso:disabled {
	pointer-events: none;
	opacity: 0.5;
}

button.mso,
input[type="checkbox"].mso {
	--sprite-y: 0;
}
button.mso:hover,
input[type="checkbox"].mso:hover {
	--sprite-y: 1;
}
button.mso:active,
input[type="checkbox"].mso:active {
	--sprite-y: 2;
}
input[type="checkbox"].mso:checked {
	--sprite-y: 3;
}
input[type="checkbox"].mso:checked:hover {
	--sprite-y: 4;
}
input[type="checkbox"].mso:checked:active {
	--sprite-y: 5;
}

button#about {
	--sprite-x: 0;
}
input#birds_eye_view {
	--sprite-x: 1;
}
input#lighting_cutoff {
	--sprite-x: 2;
}
input#show_quad_edges {
	--sprite-x: 3;
}
input#hi_res_textures {
	--sprite-x: 4;
}
input#limit_draw_resolution {
	--sprite-x: 5;
}
input#limit_draw_speed {
	--sprite-x: 6;
}
input#show_sindogs {
	--sprite-x: 7;
}
input#fullscreen {
	--sprite-x: 8;
}
